
/* DRAGGABLE CONTENT */

.maintitle {
    font-family: var(--title-font-family);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

#dragablevalue1, #dragablevalue2, #dragablevalue3, #dragablevalue4, #dragablevalue5, #dragablevalue6, #dragablevalue7, #dragablevalue8, #dragablevalue9, #dragablevalue10 {
    position: absolute;
    background-color: var(--my-background);
}

#headervalue1, #headervalue2, #headervalue3, #headervalue4, #headervalue5, #headervalue6, #headervalue7, #headervalue8, #headervalue9, #headervalue10 {
    cursor: move;
    font-family: var(--box-p-font-family);
    color: var(--title-font-color);
    border: var(--boxes-border);  
    padding: 20px;
    display: block;
    overflow: hidden;
    text-align: left;
    width: 250px;
    height: fit-content;
}

/* COLOR HOVER CAIXAS */

.hover {
    background-color: var(--hover-color);
}

.hover1 {
    background-color: var(--hover-color);  
}

/* POSITION BOXES */

/* COL 1 */

.value {
    position:absolute;
    top: 20px;
    left: 30px;

}

.link {
position:absolute;
top: 300px;
}

/* COL 2 */

.consent {
    position:absolute;
    top: 250px;
    left: 20px;
}

.diversify {
    position:absolute;
}

/* COL 3 */

.normalize {
    position:absolute;
    top: 60px;
}

.cooperate {
    position:absolute;
    top: 350px;
    left: -20px;
}

/* COL 4 */

.share {
    position:absolute;
    left: -30px;
}

.predict {
    position:absolute;
    top: 270px;
}

/* COL 5 */

.participate{
    position:absolute;
}

.invent {
    position:absolute;
    top: 350px;
    left: -100px;
}