/* BARRA DE NAVEGAÇÃO */

.menu {
    overflow: hidden;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.dropdown-content {
    font-size: 16px;
    color: var(--title-font-color);
    border: var(--boxes-border);
    font-family: var(--box-p-font-family);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: none;
    padding: 40px;
    display: block;
    text-align: left;
    display: none;
    position: absolute;
    max-width: 300px;
    z-index: 1;
}

/* NAVEGACAO - DIGITAL GLOBE */
  
 .globe-botao {
  background-color: var(--title-font-color);
  color: var(--my-background);
  font-family: var(--box-p-font-family);
  border: var(--boxes-border);
  font-size: 18px;
  outline: none;
  padding: 14px 16px;
  margin-bottom: 0px;
}
  
  .drop-globe {
    overflow: hidden;
    margin: 10px;
    text-align: center;
}

  .drop-globe:hover .dropdown-content {
    display: block;
}

/* NAVEGACAO - DIRTY DATA*/

.data-botao {
  font-family: var(--box-p-font-family);
  border: var(--boxes-border);
  font-size: 18px;
  outline: none;
  padding: 14px 16px;
  margin-bottom: 0px;
}

.drop-data {
    overflow: hidden;
    margin: 10px;
}

.drop-data:hover .dropdown-content {
    display: block;
}

/* NAVEGACAO - DEMOCRATIC BITS */

.democratic-botao {
  font-family: var(--box-p-font-family);
  border: var(--boxes-border);
  color: var(--title-font-color);
  font-size: 18px;
  outline: none;
  padding: 14px 16px;
  margin: 0px;
}

.drop-democratic {
    float: left;
    margin: 10px;
}
  
.drop-democratic:hover .dropdown-content {
    display: block;
    color: var(--my-background);
}
